html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
/*.red {color: #ff1744;}.pink {color: #F50057;}.purple {color: #D500F9;}.deep-purple {color: #651FFF;}.indigo {color: #3D5AFE;}.blue {color: #2979FF;}.light-blue {color: #00B0FF;}.cyan {color: #00E5FF;}.teal {color: #1DE9B6;}.green {color: #00E676;}.light-green {color: #76FF03;}.lime {color: #C6FF00;}.yellow {color: #FFEB3B;}.amber{color: #FFC400;}.orange{color: #FF9100;}.deep-orange{color:#FF3D00;}*/

@font-face {
    font-family: garamond-premier-pro;
    /*src: url("../font/Alsscrp.ttf");*/
    src: url("../font/GaramondPremrPro.otf");
}

html, body {
    width:100%;
    height:100%;
    background:#000;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles {
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-background-size: cover;
    background-size: cover;
}

#particles-canvas {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    left: 10%;
    top: 18%;
    width: 80%;
    height: 80px;
    font-family: garamond-premier-pro, Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    pointer-events: none;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 100%;
    color: white;
    font-style: italic;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    -webkit-transform: translateZ(25px);
    transform: translateZ(25px);
    -webkit-transform-origin: 50% 50% 25px;
    transform-origin: 50% 50% 25px;
}

.letter.out {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.12s cubic-bezier(0.55, 0.055, 0.675, 0.19);;
    transition: transform 0.12s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.letter.in {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.18s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.18s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.letter.blank {
    color: transparent;
}

.hide {
    visibility: hidden;
}
